<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.ssafy.pjt.post.mapper.CommentMapper">

	
	<update id="editComment">
		UPDATE comment
		SET content=#{content}
		WHERE comment_id=#{commentId} AND writer=#{writer}
	</update>

	<delete id="deleteComment">
		DELETE FROM comment
		WHERE comment_id=#{commentId} AND writer=#{userId}
	</delete>
</mapper>