<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.pjt.financial.mapper.ExpenseMapper">

	<select id="getExpenseListOfGroup">
		SELECT expense_id, group_id, content_id, category_id, name AS content_name, category_name, datetime, et.description, amount
		FROM expense_tracker et
			JOIN content c USING(content_id)
		    JOIN expense_category ec USING(category_id)
		WHERE group_id=#{groupId};
	</select>
	
	
	<insert id="insertExpense" useGeneratedKeys="true" keyProperty="expenseId">
		INSERT INTO expense_tracker (
			group_id,
	        content_id,
	        category_id,
	        datetime,
	        description,
	        amount
		) VALUES (
			#{groupId},
	        #{contentId},
	        #{categoryId},
	        #{datetime},
	        #{description},
	        #{amount}
		)
	</insert>

	<delete id="deleteExpense">
		DELETE FROM expense_tracker
		WHERE expense_id=#{expenseId}
	</delete>

</mapper>