<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.pjt.group.mapper.TravelGroupMemberMapper">

	<insert id="insertUserToGroup">
	    INSERT INTO group_user_info (group_id, user_id)
	    SELECT #{groupId}, u.id
	    FROM user u
	    WHERE u.email = #{userEmail}
	</insert>

	  <delete id="deleteUserFromGroup">
	    DELETE FROM group_user_info
	    WHERE group_id = #{groupId}
	      AND user_id = #{userId}
	  </delete>

	<insert id="addGroupUserRole">
		INSERT INTO group_user_info(user_id, group_id, role_id)
		VALUES(#{userId},#{groupId},#{roleId})
	</insert>

  <select id="selectAllGroupUserInfo" resultType="com.ssafy.pjt.group.entity.GroupMemberInfo">
    SELECT
      gui.user_id AS userId,
      u.nickname AS nickName,
      r.name AS roleName
    FROM group_user_info gui
    JOIN user u ON gui.user_id = u.id
    JOIN role r ON gui.role_id = r.role_id
    WHERE gui.group_id = #{groupId}
  </select>
  
  <insert id="memberInvite">
  	INSERT INTO invitation(group_id, sender_id, receiver_id)
  	VALUES(#{groupId},#{senderId},#{receiverId})
  </insert>
  
  <select id="getInvitedMemberList">
  	SELECT 
        inv.id AS invitation_id,
        inv.receiver_id AS receiver_id,
        u.nickname AS receiver_nickname,
        inv.status AS status,
        inv.created_at AS created_at,
        inv.responded_at AS responded_at
    FROM invitation inv
        JOIN user u ON inv.receiver_id = u.id
    WHERE inv.group_id = #{groupId}
  </select>
  

</mapper>
