<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssafy.pjt.group.mapper.TravelGroupMemberMapper">

	<insert id="insertUserToGroup">
	    INSERT INTO group_user_info (group_id, user_id)
	    VALUES(#{groupId},#{userId})
	</insert>
	
	<insert id="insertMemberExpenseInfo">
		INSERT INTO member_expense_info(group_id, user_id)
		VALUES(#{groupId},#{userId})
	</insert>

	  <delete id="deleteUserFromGroup">
	    DELETE FROM group_user_info
	    WHERE group_id = #{groupId}
	      AND user_id = #{userId}
	  </delete>

	<insert id="addGroupUserRole">
		INSERT INTO group_user_info(user_id, group_id, role_id)
		VALUES(#{userId},#{groupId},#{roleId})
	</insert>

  <select id="selectAllGroupUserInfo" resultType="com.ssafy.pjt.group.entity.GroupMemberInfo">
    SELECT
	  gui.user_id AS userId,
	  u.nickname AS nickName
	FROM group_user_info gui
		JOIN user u ON gui.user_id = u.id
	WHERE gui.group_id = #{groupId}
	GROUP BY userId
  </select>
  
  <insert id="memberInvite">
  	INSERT INTO invitation(group_id, sender_id, receiver_email)
  	VALUES(#{groupId},#{senderId},#{receiverEmail})
  </insert>
  
  <select id="getInvitedMemberList">
  	SELECT 
        inv.id AS invitation_id,
        inv.receiver_email AS receiver_email,
        u.nickname AS receiver_nickname,
        inv.status AS status,
        inv.created_at AS created_at,
        inv.responded_at AS responded_at
    FROM invitation inv
        JOIN user u ON inv.receiver_email = u.email
    WHERE inv.group_id = #{groupId}
  </select>
  
  <insert id="roleRequest">
  	INSERT INTO group_role_request(user_id, role_id, group_id)
  	VALUES(#{userId},#{roleId},#{groupId})
  </insert>
  
  <select id="getRoleRequestList">
  	SELECT user_id, group_id, role_id, requested_at, status
  	FROM group_role_request
  	WHERE group_id=#{groupId}
  </select>
  
  <update id="handleRoleRequest">
  	UPDATE group_role_request
	SET
		status=
			<choose>
				<when test="accept==true">'ACCEPTED'</when>
				<otherwise>'REJECTED'</otherwise>
			</choose>
	WHERE 
		user_id=#{userId} 
		AND group_id=#{groupId} 
		AND role_id=#{roleId}
		AND status='PENDING'
  	
  </update>
  
  
</mapper>
